/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,body{
    height: 896px;
    width: 414px;
    margin:0px;

}
/*ELEMENTOS H*/
h1, h2, h3, h4, h5, h6, p, button{
    font-family: "Inter"}
/*ELEMENTOS DIV*/
.Hero{
    padding-top: 0px;
}
#contenido{
    padding-top: 118px;
}
/*ELEMENTOS P*/
/*ELEMENTOS SECTION*/
/*ELEMENTOS ID*/
#div-CTA{
    margin-top: 20px;
}
#espacio-descubrir{
    margin-top: 391px;
}

/*body{
    border: 10px solid green;
}
.Hero{

    border: 10px solid red;
    text-align: center;
    background-image: url("../img/backgroundHero.jpg");
    background-position: center;
}

#descubreMasHero{
    alignment: right;
}*/
/*css copiado*/

#pag-principal{
    height:820px;
    width: 414px;
    background-image:url("../images/backgroundHero2.jpeg");
    background-position: 40%;
    background-size: 1470px;
    text-align: center;
}
#tituloPrincipal{
    color: white;
    font-size: 42px;
    height: 102px;
    margin: 0;
    font-weight: 500;
}
#subtitulo{
    color: white;
    font-size: 16px;
    height: 54px;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 500;
}
.CTA-Hero{
    background-color:#67a718;
    border: #558914 solid;
    color:white;
    width: 234px;
    height: 40px;
    text-align: center;
    line-height:10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

#espacio-descubrir{
    height: 40px;
    padding: 0px;
}
#descubrir-mas{
    color: white;
    padding: 0px;
    margin: 0px;
    transform: translate(0%, 25%);
}
/*-----------------------------------------------------------*/
/*                           HEADER                          */
/*-----------------------------------------------------------*/

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(0, 4rem);
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 98;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.contenedorMenu {
    margin-right: 1rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: row-reverse;
}

.IconoHeader {
    padding: 5px;
    padding-right: 0;
    height: 80%;

}

.logoGti {
    padding: 0;
    height: 100%;

}

/*-----------------------------------------------------------*/
/*                       FINAL DE HEADER                     */
/*-----------------------------------------------------------*/

/*-----------------------------------------------------------*/
/*                     BARRA DE NAVEGACIÓN                   */
/*-----------------------------------------------------------*/

.bordeAbajo {

}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #ddd;
    position: sticky;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: black;
    background-color: #ddd;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: Inter;
}

/* Style the hamburger menu */
.topnav a.icon {
    background-color: #ddd;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
}

.otrasPaginas {
    padding: 14px 16px;
}

.botonSolicitarPresupuesto {
    border-color: #558914 ;
    color: white;
    background-color: #558914;
}

.contenedorBotones {
    display: block;
    margin: 16px;
    }

#aInicioDeSesionHeader {
    padding-left: 0px;
}

#headerIniciar{
    padding: 14px 16px;
    font-size: 17px;
    display: block;
    font-family: Inter;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 370px;
}

#headerPresupuesto{
    padding: 14px 16px;
    font-size: 17px;
    display: block;
    font-family: Inter;
    border-radius: 5px;
    width: 370px;
}

/*-----------------------------------------------------------*/
/*              FINAL DE LA BARRA DE NAVEGACIÓN              */
/*-----------------------------------------------------------*/