/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,body{
    height: 896px;
    width: 414px;
    margin:0px;

}
/*ELEMENTOS H*/
h1, h2, h3, h4, h5, h6, p, button{
    font-family: "Inter"}
/*ELEMENTOS DIV*/
.Hero{
    padding-top: 0px;
}
#contenido{
    padding-top: 118px;
}
/*ELEMENTOS P*/
/*ELEMENTOS SECTION*/
/*ELEMENTOS ID*/
#div-CTA{
    margin-top: 20px;
}
#espacio-descubrir{
    margin-top: 391px;
}

/*body{
    border: 10px solid green;
}
.Hero{

    border: 10px solid red;
    text-align: center;
    background-image: url("../img/backgroundHero.jpg");
    background-position: center;
}

#descubreMasHero{
    alignment: right;
}*/
/*css copiado*/

#pag-principal{
    height:820px;
    width: 414px;
    background-image:url("../images/backgroundHero2.jpeg");
    background-position: 40%;
    background-size: 1470px;
    text-align: center;
}
#tituloPrincipal{
    color: white;
    font-size: 42px;
    height: 102px;
    margin: 0;
    font-weight: 500;
}
#subtitulo{
    color: white;
    font-size: 16px;
    height: 54px;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 500;
}
.CTA-Hero{
    background-color:#67a718;
    border: #558914 solid;
    color:white;
    width: 234px;
    height: 40px;
    text-align: center;
    line-height:10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

#espacio-descubrir{
    height: 40px;
    padding: 0px;
}
#descubrir-mas{
    color: white;
    padding: 0px;
    margin: 0px;
    transform: translate(0%, 25%);
}
